# Mac system files
.DS_Store

# Python environment
venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data 
# Using a wildcard to catch any CSVs or temporary data files
data/*.csv
data/*.zip
!data/.gitkeep

# Environment variables
.env

# MLflow logs and artifacts
mlruns/
outputs/

# Testing
.pytest_cache/
.coverage
htmlcov/